.headerFlag {
  height: 20px;
  margin: 0 5px;
}
.policeName {
  color: #000;
}

.roadDivider {
  width: 100%;
  border-bottom: 2px dashed #fff;
  height: 40px;
  position: absolute;
  z-index: 1;
}

.roadContainer {
  position: relative;
  height: 100px;
  width: 100%;
  perspective: 500px;
  margin-top: -32px;
}

.road {
  width: 100%;
  padding: 40px;
  position: absolute;
  border: 1px solid black;
  background: rgba(100, 100, 100, 0.8);
  transform-style: preserve-3d;
  transform: rotateX(45deg);
}

#taxiCity {
  position: absolute;
  top: -10px;
  z-index: 2;
  transition: transform 2s ease-out;
}
