.cardContainer {
  width: 8rem;
  height: 8rem;
  position: relative;
  perspective: 800px;
}
.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  animation: flashflip 0.01s;
}
.card .front,
.card .back {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}
.card .front {
  background-image: url(./bg-card.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.card .back {
  transform: rotateY(180deg);
  background-color: #fff;
  text-align: center;
}
.card .back i {
  margin-top: 2rem;
}
.card.flipped {
  transform: rotateY(180deg);
}

/*backface-visibility fix*/
@-webkit-keyframes flashflip {
  0% {
    opacity: 0;
    -webkit-transform: rotatey(1deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotatey(0deg);
  }
}
