.card {
  padding: 0 5px;
  margin: 5px 0;
  perspective: 500px;
}

.cardContent {
  height: 8rem;
  position: relative;
  width: 8rem;
  margin: 0 auto;
  transform-style: preserve-3d;
  transition: transform 1s;
  cursor: pointer;
}

.smallCard {
  height: 4rem;
  width: 4rem;
}
.cardContent .front,
.cardContent .back {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
}
.cardContent .front {
  background-image: url(./bg-card.jpg);
}
.cardContent .back {
  transform: rotateY(180deg);
  border: 1px solid green;
}
.cardContent .icon {
  background-color: white;
  text-align: center;
}
.cardContent .icon i {
  margin-top: 2rem;
}
.cardContent.flipped {
  transform: rotate3d(0, 1, 0, 180deg);
}
.cityLabel {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(6, 100, 64, 0.8);
  border-radius: 0 0 10px 10px;
  text-align: center;
  color: #fff;
}

@media only screen and (max-width: 480px) {
  .cardContent {
    height: 5.5rem;
    width: 5.5rem;
  }
  .cardContent .icon i {
    margin-top: 0.7rem;
  }
}
