.avatarWrapper {
  overflow: hidden;
  margin: 1rem auto;
}
.avatarImage {
  float: left;
}
.avatarMessage {
  text-align: center;
  float: left;
  background: white;
  padding: 1rem;
  border-radius: 5px;
  width: 195px;
  margin-left: 1rem;
}

@media only screen and (min-width: 481px) {
  .avatarMessage {
    width: 240px;
  }
}
