.imageWrapper img {
  width: 25px;
  margin-right: 1rem;
}

.timeWrapper {
  float: right;
}
.imageWrapper {
  float: left;
}
@media only screen and (min-width: 481px) {
  .imageWrapper,
  .timeWrapper {
    font-size: 1.4rem;
  }
}
.topWrapper {
  overflow: hidden;
}
