.menu{
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  background-color: black;
  height: 60px;
}

section{
  padding: 20px 0;
}
.App{
  background-color: #BADB94;
  height: 100vh;
  position: relative;
  overflow: scroll;
}

/*Overwrite bootstrap*/
.modal-dialog{
  transform: translate(0, 20%)!important;
}
@media only screen and (max-width : 480px) {
  h1, h2{
    font-size: 26px;
  }
}
