.menu {
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  background-color: black;
  height: 60px;
}

section {
  padding: 20px 0;
}
.App {
  background-color: #badb94;
  height: 100vh;
  position: relative;
  overflow: scroll;
}

.centered {
  margin: 0 auto;
}
/*Overwrite bootstrap*/
.modal-body {
  overflow: auto;
}
.modal-footer .btn {
  margin: 0 auto;
  display: block;
}
@media only screen and (max-width: 480px) {
  h1,
  h2 {
    font-size: 26px;
  }
  .modal-body img {
    max-width: 100px;
  }
}
