footer {
  position: absolute;
  bottom: 0;
}

.header {
  background-color: black;
  padding: 10px 0;
  color: white;
}

body {
  background-color: #badb94;
}
/* FIXME: Overwrite modal, it displays offscreen */
.modal {
  margin-top: 0 !important;
}

.pull-right {
  float: right;
}
.text-center {
  text-align: center;
}

.ui.modal img {
  max-width: 100%;
}

.ui.labeled.icon.menu .item {
  min-width: 2em;
  font-size: 0.9rem;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 18px !important;
  }
  h2 {
    font-size: 17px !important;
  }
  button {
    padding: 0.8rem 0.5rem !important;
    font-size: 13px !important;
  }
}

section {
  padding: 20px 0;
}

.centered {
  margin: 0 auto;
}
/*Overwrite semantic*/
.modal-body {
  overflow: auto;
}
.modal-footer .btn {
  margin: 0 auto;
  display: block;
}

.ui.centered.card {
  min-height: 230px;
}
.ui.centered.card img {
  margin: 0 auto;
}
img {
  max-width: 100%;
}
@media only screen and (max-width: 480px) {
  h1,
  h2 {
    font-size: 26px;
  }
  .modal-body img {
    max-width: 100px;
  }
}
