footer {
  position: absolute;
  bottom: 0;
}

.header {
  background-color: black;
  padding: 10px 0;
  color: white;
}

/* FIXME: Overwrite modal, it displays offscreen */
.modal {
  margin-top: 0 !important;
}

.pull-right {
  float: right;
}
.text-center {
  text-align: center;
}

.ui.modal img {
  max-width: 100%;
}
