footer {
  position: absolute;
  bottom: 0;
}

.header {
  background-color: black;
  padding: 10px 0;
  color: white;
}

body {
  background-color: #badb94;
}
/* FIXME: Overwrite modal, it displays offscreen */
.modal {
  margin-top: 0 !important;
}

.pull-right {
  float: right;
}
.text-center {
  text-align: center;
}

.ui.modal img {
  max-width: 100%;
}

.ui.labeled.icon.menu .item {
  min-width: 5em;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 17px;
  }
  button {
    padding: 0.8rem 0.5rem !important;
    font-size: 13px !important;
  }
}
